@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    color: #0a2ff1;
    margin: 0;
}
h1, strong{
    font-weight: 700;
}
h1{
    font-size: 66px;
}
p{
    font-size: 30px;
    font-weight: 400;
    background-color:  #eff2ff;
    display: inline;
    margin-right: 10px;
}

button{
    font-weight: 400;
    font-size: 30px;
    background-color: #8a9af1;
    color: white;
    border: none;
    margin-bottom: 10px;
    margin-top: 30px;
    padding: 10px;
}
img{
    width: 30%;
}

footer{
    width: 100%;
    background-color:#3ffff3;
    height: 10px;
}