@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}
h1{
    font-size: 18px;
    font-weight: 700;
    color: #04146c;
}
input{
    font-size: 18px;
    font-weight: 400;
    color: #414166;
}
button{
    font-size: 20px;
    font-weight: 600;
    background-color: #0a2ff1;
    color: white;
}