@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700&display=swap');

*{box-sizing: border-box;}
body{
    text-align: center;  
}
body, button, input, a{
    font-family: 'Mulish', sans-serif;
}

input{
    font-size: 18px;
    font-weight: 400;
    color: #414166;
}
input, button{
    width: 500px;
    height:50px;
    margin-bottom:5px;
    padding: 10px;
    display: block;
    border: 1px solid black;
}
h1{
    font-size: 24px;
    font-weight: 700;
    color: #04146c;
}
button{
    font-size: 20px;
    font-weight: 600;
    background-color: #0a2ff1;
    color: white;
}
p,a{
    color: #0a2ff1;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;
}
form{
    border-bottom:  1px solid black;
    width: 500px;
    margin: auto;
    padding-bottom: 10px;
    
}